<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ui.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>

    <link rel="stylesheet" href="/static/css/jquery.ui.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css"/>
</head>

<body>
    <div id="header-container">
        <div id="header">
            <input id="zoomIn" class="zoomButton" type="button" value="+"/>
            <input id="zoomOut" class="zoomButton" type="button" value="-"/>
            <input id="filename" type="text"/>
            <input id="getSvg" class="actionButton" type="button" disabled="disabled" value="Get SVG"/>
            <input id="invalidate" class="actionButton" type="button" value="Invalidate"/>
        </div>
    </div>

    <div id="container"></div>
</body>
</html>