<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="http://127.0.0.1:91/static/js/jquery.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:91/static/js/jquery.ui.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:91/static/js/test.js"></script>

    <link rel="stylesheet" href="http://127.0.0.1:91/static/css/jquery.ui.min.css" type="text/css"/>
    <link rel="stylesheet" href="http://127.0.0.1:91/static/css/main.css" type="text/css"/>
</head>

<body>
    <div id="container">
        <script>
            var data = {{imports}};
            var tempaltes = {{templates}};

        </script>
    </div>
</body>
</html>